
<div class="card card-text ">
    <div class="flex gap-3">
        <div class="lang text-muted">
            {{ upper .Params.language }}
        </div>
        <div class="card-right">
            <div class="card-title-sm">
                <span class='mb-1'><a href="{{ .Permalink }}">{{ .Title }}</a></span>
            </div>
        
            <!-- Post Author -->
            <div class="author flex gap-2">
                <span class='date'>{{ dateFormat "Jan 2, 2006" .Date }}</span>
                {{ if .Site.Params.home_show_tags }}
                &mdash;
                {{ with .Params.tags }}
                <div class="tags flex-1">
                    {{ range $i, $e := . }}
                        {{ if $i }} ◦ {{ end }}
                        <a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>
                    {{ end }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>