@use "sass:color";

footer {
    background-color: color.adjust($primary, $lightness: 45%);
    padding: 1rem 0;

    .social-links {
        float: right;
        a {
            margin-left: 1rem;
        }
        svg {
            color: color.adjust($body-color, $lightness: -40%);
        }
    }
}