.card {
    margin-bottom: 1.5rem;
    
    .card-title {
        font-size: 2rem;
        margin-bottom: .5rem;
        font-weight: 600;
        
        a {
            color: $heading-color;
        }
    }
    .card-title-sm a {
        color: rgb(101, 101, 101);
        line-height: 1.7rem;
        font-size: 1.1rem;
        &:hover {
            color: rgb(29, 29, 29);
        }
    }
    .author {
        font-size: .925rem;
        margin-top: .4rem;
        color: #a4a2a2;
    }
    .summary {
        color: #707070;
    }
    .little-bold {
        color: #666;
        font-weight: 600;
    }
    a.little-bold {
        color: $gray;
        &:hover {
            color: $primary;
        }
    }
    &.card-vertical-md {
        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2rem;
        }
        .article-category {
            font-weight: 400;
            font-size: .8rem;
            margin: .4rem 0 0;
            
        }
        .card-thumbnail {
            padding-top: 57.5%;
        }
    }
}
