$paginator-padding: .3rem 1rem;
$paginator-border: 1px solid  #797979;
$paginator-radius: .1rem;

.paginator {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 1rem;
    .control a {
        color: $main-link-color;
        display: block;
        display: flex;
        align-items: center;
        gap: .4rem;
    }
}
