<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="app">
            {{- partial "header.html" . -}}
                <main id="terms">
                    <div class="container">
                        <div class="terms-header">
                                <h1>{{.Data.Singular}}: {{.Data.Term}}</h1>
                        </div>
                        <div class="container">
                            {{ range (.Paginate ( .Pages.ByDate.Reverse )).Pages }}
                                {{ partial "card/card-text" . }}
                            {{ end }}
                            </div>
                            {{ partial "paginator" . }}
                        </div>
                    </div>
                </main>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
