
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
    <div id="app">
        {{ partial "header.html" . }}
        <main id="content">
            <div class='container'>
                    <!-- Single Heading -->
                    <div class="single-header  mx-auto">
                        <time datetime="{{ .Date }}">Published {{ .Date.Format "January 2, 2006" }}</time>
                        <h1>{{ .Title }}</h1>
                        <ul class="tags">
                            {{ range .Params.tags }}
                            <li class='tag'><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
        
                    <div class=" mx-auto">
                        {{ if .Params.featured_image }}
                        {{ with .Resources.GetMatch (.Params.featured_image) }}
                            <div class="thumbnail">
                                    {{ $thumb := .Resize "800x" }}
                                    <img src="{{ $thumb.Permalink }}" class='thumbnail-image' alt="{{ .Title }}">
                                </div>
                                {{ end }}
                            {{ end }}
                        <img src="" alt="" srcset="">
                    </div>
                    <div class=" mx-auto">
                        <div class="the-content">
                            {{ .Content }}
                        </div>
                    </div>
            </div>
        </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>